GITHUB_USERNAME=<your_github_username_here>
# GitHub Container Registry token
# Get a token here: https://github.com/settings/tokens
#   - Name: ghcr-tinymlapi
#   - Expiration: No expiration date
#   - Scopes: write:packages
GHCR_TOKEN=<your_github_token_here>